
/*Main*/
.nain{
    background-image: linear-gradient(to right ,#42106D,#5B0F53,#160430);
    color: snow !important;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 5px;
    
  }
  .h1,.h2{
    text-align: center;
  }
  .p1{
    font-family: 'Skranji';font-size: 22px;
  }
  .bord{
    border: 3px solid black;
    background-repeat: no-repeat;
    background-size: cover ;
    opacity: 0.6 ;
    color: snow;
    padding: 50px;
  }
  .v-flex{
    display: flex;
    justify-content: space-between;
  }
  
  .t-flex{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
  }
  .ligne,.ligne2{
    border-bottom: 3px solid snow ;
    margin-top: 2%;
  }
  /*Image*/
  .img1,.img2,.img3,.img4,.img5{
    width:150px;
    filter: grayscale(90%);
    border: 2px solid black;
    object-fit: cover;
  }
  .img5:hover{
    filter: none;
  }
  .img1:hover{
    filter: none;
    border:2px solid #C1121F;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
  }
  .img2:hover{
    filter: none;
    border: 2px solid #0F07AC;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
  }
  .img3:hover{
    filter: none;
    border: 2px solid #6A994E;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    
  }
  .img4:hover{
    filter: none;
    border: 2px solid #FFBD00;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
  }
  /*2ème Partie (console)*/
  
  .N1:hover{
    color: #C1121F ;
    text-decoration: underline;
  }
  .P1:hover{
    color: #0077B6;
    text-decoration: underline;
  }
  .X1:hover{
    color: #6A994E;
    text-decoration: underline;
  }
  .G1:hover{
    color: #FFBD00 ;
    text-decoration: underline;
  }
  
  