.titre{
    color : snow;
    text-align: center;
}
.back{
    background-color: #160430;
    color : snow;
    padding: 10px;
    filter: grayscale(80%);
    margin: 0;
     place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
/* Input*/

.pseudonyme{
    display: flex;
    align-items: center;
    justify-content: center;
}
.player{
    width: 40px;
    position: absolute;
    top: 10%;
    margin-left: -1%;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);

}
/*Password*/
.password{
    display : flex;
    margin-top: 2% ;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: transparent;
    color: white;
    border: 2px solid snow;
    text-align: center;
    width: 525px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

.passwi, .mail, .pseudo{
    color: #A4A4A4;
    background-color: #261046;
    border-radius: 10px;
    width: 460px;
    height: 68px;
    padding-left: 70px;
    
}

.eye{
    cursor: pointer;
    width: 40px;
    position: absolute;
    z-index: 2;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    top:37%;
    right: 30%;
    margin-top: 2%;
}

.cadenat{
    width: 40px;
    position: absolute;
    top: 35%;
    margin-left: -1%;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
   
}
.maj,.crossx,.chiffre,.carac {
    width: 20px;
    
}

/*Email*/


.letter{
    width: 40px;
    position: absolute;
    top: 29%;
    left: 12%;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}
/*Boutton valider*/
.valide{
    border-radius: 18px;
    background-color : #215b96;
    color : white;
    width: 525px;
    height : 62.2px;
    margin-top: 3%;
}
.valide:hover{
    color: #ABA41C;
    
}
.form-error-popup {
  background-color: #f56565; 
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1.5rem; 
  text-align: center;
  font-weight: bold;
}
/*Retourner*/
.input-wrapper input {
  width: 84%; 
  padding: 12px 50px; 
  background-color: #221e2b;
  border: 1px solid #555;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}
    .img
    {
        top:42%;
        right: 28%;
    }
    .eye-icon {
     right: 15px; 
     cursor: pointer; 
    }
    .input-wrapper {
     position: relative; 
     margin-bottom: 20px; 
     width:100%;
   }
   .input-icon {
   position: absolute; 
   top: 50%; 
   transform: translateY(-50%); 
   width: 20px; 
   height: 20px;
   filter: brightness(0) invert(1); /
  }  
  .input-wrapper input:-webkit-autofill,
.input-wrapper input:-webkit-autofill:hover, 
.input-wrapper input:-webkit-autofill:focus, 
.input-wrapper input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #221e2b inset !important;
    -webkit-text-fill-color: white !important;
    border-color: #555 !important;
}
.form-error-popup {
  background-color: #8c7a7a; 
  color: white;
  
  padding: 1rem;
  border-radius: 12px;
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}