h1{
    color : red !important;
    text-align: center;
}
.back{
    background-color: #160430;
    color : snow;
    padding: 4px;
    filter: grayscale(80%)
}
/*Password*/
.p-flex{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.form{
    width: 100%;
    background-color: transparent;
    color: white;
    border: 2px solid snow;
}
.passw{
    width: 150px;
    height: 30px;
    margin-left: 2%;
}
.img{
    cursor: pointer;
    width: 40px;
    position: absolute;
    z-index: 2;
    filter: grayscale(100%);
}
#mail{
   margin-top: 1%;
}
.form{
    text-align: center;
}
/*Boutton valider*/
.valider{
    margin-top:2%;
    background-color: #0F07AC;;
    color: snow;
}
.valider:hover{
    background-color: #4C44E1;
    border: 1px solid #9747FF;
    color: #ABA41C;
}

@media (min-width : 1020px) {
    .img
    {
        top :42%;
        right : 23%;
    }
}