.titre{
    color : snow;
    text-align: center;
}
.back{
    background-color: #160430;
    color : snow;
    padding: 4px;
    filter: grayscale(80%)
}
/* Input*/

.pseudonyme{
    display: flex;
    align-items: center;
    justify-content: center;
}
.player{
    width: 40px;
    position: absolute;
    top: 24%;
    right: 62%;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);

}
/*Password*/
.password{
    display : flex;
    margin-top: 2% ;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: transparent;
    color: white;
    border: 2px solid snow;
    text-align: center;
}

.passw, .email, .pseudo{
    color: #A4A4A4;
    background-color: #261046;
    border-radius: 10px;
    width: 460px;
    height: 68px;
    padding-left: 65px;
    margin-left: 2%;
    
}

.eye{
    cursor: pointer;
    width: 40px;
    position: absolute;
    z-index: 2;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    top:39%;
    right: 30%;
    margin-top: 2%;
}

.cadenat{
    width: 40px;
    position: absolute;
    top: 43%;
    left: 35%;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
   
}

/*Email*/

.message{
   display: flex;
   justify-content: center;
}
.letter{
    width: 40px;
    position: absolute;
    top: 63%;
    left: 34%;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}
/*Boutton valider*/
.valide{
    border-radius: 18px;
    background-color : #215b96;
    color : white;
    width: 525px;
    height : 62.2px;
    margin-top: 2%;
    

}
.valide:hover{
    color: #ABA41C;
    
}
/*Retourner*/
.retour{
    text-align: center;
}

@media (min-width : 1020px) {
    .img
    {
        top:42%;
        right: 28%;
    }
    .eye{
        right: 27%;
        top : 41%;
    }
    .player{
        left: 34%;
        top : 25%;
    }
    .cadenat{
        left  : 34%;
        top: 43%;
    }
    .letter{
        left: 33%;
    }
}

@media (min-width : 768px ) and (max-width : 1020px){
    .cadenat{
        left : 28%;
    }
    .letter{
        left: 26%;
    }
    .player{
        left: 26%;
        top : 26%;
    }
    .titre{
        text-align: center;
    }
}

@media (max-width : 768px) {
    .player{
        left: 16%;
        top : 26%;
    }
    .cadenat{
        left : 16%;
    }
    .letter{
        left: 14%;
        top: 62%;
    }
    .eye{
        right: 3%;
        top: 42%;
    }
    .titre{
        text-align: center;
    }
}