.h1{
    color: snow;
}
.color{
    background-color : #160430;
    color: snow;
}
/*Image*/
.image{
    width: 500px;
    height: 469.4px;
    margin-top: 31%;
    margin-left : 2%;
}
.oeil{
   width: 30px;
  height: 50px;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  position: absolute;
  right: 3%;
  cursor: pointer;
  top: 71%;
}

.p{
    text-transform: uppercase;
    font-size: larger;
    margin-left: 2%;
}
.span{
    color: #AE69FF;
}
/*Input*/
.passw, .email{
    color : #A4A4A4;
    background-color:#261046;
    border-radius: 10px;
    width: 460px;
    height: 68px;
    padding-left: 65px;
 
    
}
/*Button valider*/
.button{
    
    border-radius: 18px;
    background-image : linear-gradient( to right ,#501794,#3E70A1);
    color : white;
    width: 525px;
    height : 62.2px;
    margin-top: 2%;
    font-size: large;
}
.button:hover{
     color : #FFBD00;
     opacity: 0.9;
}
/*Partie flex*/
.x-flex{
    display : flex ;
    flex-direction: column;
}
.l-flex{
    display: flex;
    flex-direction: column;
    
}
.y-flex{
    display: flex;
    justify-content: space-between;
}
.line{
   
    border-bottom: 1px solid snow ;
}

/*RESPONSIVE*/
@media (min-width : 900px) {
    .img{
        position: absolute;
        top: 544px;
        right:  5%;
    }
    .lock{
        justify-content: left;
        
        position: absolute;
        top : 559px;
        left : 65%;
        
    }
    .courrier{
        position: absolute;
        top: 415px;
        left: 65%;
    }
}