@media (min-width : 768px) and (max-width:1024px) {
    .header{
      position: fixed;
      z-index: 1;
      padding: 1px;
      background-size: cover ;
      width: 97%;
      margin: auto;
      margin-top: 0%;
      margin-bottom: 5%;
    }
        .menu{
          display: block;
          cursor: pointer;
          padding: 15px;
        }
        #icon{
          color: #FFBD00;
        }
        /*1ère partie du main (section t-flex)*/
        .nain{
             
             z-index: 0;
        }
        .t-flex{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
        }
        /*2ème parti du main section(v-flex) */
        .v-flex{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
        }
        /*Alignement centrer*/
        p{
          text-align: center;
        }
        h3{
          text-align: center;
        }
        /*Partie des Consoles*/
        .nintendo{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
        }

        .sony{
           display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px
        }
        .xbox{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px
        }
        .pc{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px
        }
  }