.r-flex{
    display: flex;
    justify-content: space-between;
  }
  .footer {
    background-image: url('/consitent.svg');
    color: snow;
    background-size: cover;
    padding: 50px;
  }
  .text{
    text-align: center;
  }
  