.header{
    background-image: url('/abstrait.jpg');
    padding: 20px;
    background-size: cover ;
  }
  /*Flex global*/
  .nav-flex{
    display: flex;
    justify-content: space-between;
  }
  
  /*Logo*/
  .logo{
    width: 180px;
    height: auto;
  }


  .li{
    list-style: none;
    text-decoration: none;
    font-family: 'Jersey 15';font-size: 22px;
    color: white;
  }
  
  .li:hover{
    color:#ABA41C;
    text-decoration: underline;
  }
  /*Bouton*/
  .link-bouton{
    display: flex;
    gap: 10px;
  }
  /*Boutton Inscription*/
  .but1{
    margin-top: 2%;
    cursor: pointer;
    background-color: #0F07AC;
    border: 1px solid #9747FF;
    width: 101px;
    height: 28px;
    text-align: center;
    padding: 2px;
  }
  .but1:hover{
    background-color: #4C44E1;
    border: 1px solid #9747FF;
    
  }
  /*Bouton Connexion*/
  .but2{
    color:  snow;
    margin-left: 2%;
  }
  .but2:hover{
    color:#ABA41C;
  }
  #input{
    margin-top: 2%;
    width: 50%;
    color: rgb(246, 246, 246);
    border: 3px solid snow;
    background-color: transparent;
  }
  .nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap:15px;
   } 
  
  /*responsive*/
  @media (min-width:1024px) 
  {
   
    .nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap:15px;
   } 
   
  .menu
  {
      display: none;
  }
    /*1ère partie du main*/
  }
  @media(max-width : 1023px){
   .nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap:15px;
    flex-direction: column;
   } 
   #ul{
    display:none;
   }
  }